*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Osr";
}

@font-face{
	src: url(../fonts/Oswald-Light.ttf);
	font-family: "Osl";
}

@font-face{
	src: url(../fonts/Oswald-Regular.ttf);
	font-family: "Osr";
}

html,body{
	height: 100%;
}

.clear{
	clear: both;
}

.centralizer{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

/***HEADER***/

header{
	width: 100%;
	padding: 30px 2%;
	position: relative;
}

.logo{
	float: left;
}

.logo img{
	width: 100%;
	max-width: 208px;
	height: 82px;
}

#nav{
	display: none;
	background-image: url(../images/icon_menu.png);
	width: 40px;
	height: 40px;
	float: right;
	cursor: pointer;
	margin-right: 10px;
	margin-top: 20px;
	background-repeat: no-repeat;
	background-size: cover;
}

.menu_mobile{
	display: none;
}

.menu_mobile ul{
	width: 100%;
	max-width: 700px;
	height: 242px;
	padding: 20px 2%;
	text-align: center;
	background: rgba(250,250,250,0.9);
	list-style: none;
	text-transform: uppercase;
	z-index: 55555;
	position: absolute;
	top: 90px;
	right: 0px;
}

.menu_mobile ul li a{
	text-decoration: none;
	font-size: 23px;
	color: black;
	font-style: italic;
	font-family: "Osr";
	text-align: center;
}

nav.menu_desktop{
	float: right;
}

nav.menu_desktop ul li{
	display: inline-block;
	list-style: none;
	margin-top: 30px;
	text-transform: uppercase;
	padding-right: 30px;
}

nav.menu_desktop ul li:last-child{
	padding-right: 0px;
}

nav.menu_desktop ul li a{
	text-decoration: none;
	font-size: 23px;
	color: black;
	font-style: italic;
	font-family: "Osr";
}

nav.menu_mobile ul li a:hover{
	color: red;
}

nav.menu_desktop ul li a:hover{
	color: red;
}

@media screen and (max-width: 855px){

	.logo{
		float: none;
		width: 100%;
		text-align: center;
	}

	nav.menu_desktop{
		float: none;
		text-align: center;
	}
}

@media screen and (max-width: 640px){

	header > .centralizer{
		width: 100%;
		max-width: 530px;
	}

	.logo{
		float: left;
		width: 50%;
		margin-left: -20px;
	}

	nav.menu_desktop{
		display: none;
	}
	
	#nav{
		display: block;
	}

	#del{
		display: block;
	}

}

@media screen and (max-width: 500px){

	header > .centralizer{
		width: 100%;
		max-width: 530px;
	}

	.logo{
		float: left;
		width: 100%;
		max-width: 208px;
		margin-left: 0;
	}
	
}


/***BANNER***/

section.banner{
	width: 100%;
	background-color: black;
	padding: 110px 2% 0 2%;
}

section.banner .centralizer{
	width: 100%;
	max-width: 1085px;
}

.banner-pic{
	width: 100%;
	height: 610px;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right bottom;
}

.links{
	width: 100%;
}

a#link1{
	font-style: italic;
	display: block;
	width: 305px;
	height: 80px;
	color: white;
	text-decoration: none;
	font-family: "Osl";
	font-weight: normal;
	text-transform: uppercase;
	font-size: 48px;
	background-image: url(../images/box-text.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 5px 28px 5px 28px;
	margin-bottom: 10px;
	margin-left: 38px;
}

a#link2{
	font-style: italic;
	display: block;
	width: 220px;
	height: 80px;
	color: white;
	text-decoration: none;
	font-family: "Osl";
	font-weight: normal;
	text-transform: uppercase;
	font-size: 48px;
	background-image: url(../images/box-text.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 5px 28px 5px 28px;
	margin-bottom: 10px;
	margin-left: 26px;
}

a#link3{
	font-style: italic;
	display: block;
	width: 188px;
	height: 80px;
	color: white;
	text-decoration: none;
	font-family: "Osl";
	font-weight: normal;
	text-transform: uppercase;
	font-size: 48px;
	background-image: url(../images/box-text.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 5px 28px 5px 28px;
	margin-bottom: 15px;
	margin-left: 16px;
}

a#link4{
	font-style: italic;
	display: block;
	width: 463px;
	height: 60px;
	color: black;
	text-decoration: none;
	font-family: "Osr";
	font-weight: normal;
	text-transform: uppercase;
	font-size: 25px;
	background-image: url(../images/box-white-text.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 12px 28px 8px 28px;
	margin-left: 3px;
}

@media screen and (max-width: 500px){

	section.banner{
		width: 100%;
		background-color: black;
		height: 500px;
	}

	.banner-pic{
		width: 100%;
		height: 610px;
		background-image: url(../images/bg.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center bottom;
	}

}

@media screen and (max-width: 490px){

	section.banner{
		width: 100%;
		background-color: black;
		padding: 50px 2% 0 2%;
		transition-duration: 2s;
	}

	a#link1{
		transition-duration: 2s;
		display: block;
		max-width: 250px;
		height: 65px;
		color: white;
		text-decoration: none;
		font-family: "Osl";
		font-weight: normal;
		text-transform: uppercase;
		font-size: 40px;
		background-image: url(../images/box-text.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		padding: 2px 23px 2px 23px;
		margin-bottom: 10px;
		margin-left: 32px;
	}	

	a#link2{
		transition-duration: 2s;
		display: block;
		width: 180px;
		height: 65px;
		color: white;
		text-decoration: none;
		font-family: "Osl";
		font-weight: normal;
		text-transform: uppercase;
		font-size: 40px;
		background-image: url(../images/box-text.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		padding: 2px 23px 2px 23px;
		margin-bottom: 10px;
		margin-left: 22px;
	}

	a#link3{
		transition-duration: 2s;
		display: block;
		width: 145px;
		height: 65px;
		color: white;
		text-decoration: none;
		font-family: "Osl";
		font-weight: normal;
		text-transform: uppercase;
		font-size: 40px;
		background-image: url(../images/box-text.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		padding: 2px 23px 2px 23px;
		margin-bottom: 12px;
		margin-left: 15px;
	}

	a#link4{
		transition-duration: 2s;
		display: block;
		width: 300px;
		height: 30px;
		color: black;
		text-decoration: none;
		font-family: "Osr";
		font-weight: normal;
		text-transform: uppercase;
		font-size: 14px;
		background-image: url(../images/box-white-text.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		padding: 5px 28px 5px 28px;
		margin-left: 5px;
		margin-top: 160px;
	}
}

@media screen and (max-width: 333px){

	section.banner{
		width: 100%;
		background-color: black;
		height: 450px;
	}


	a#link1{
		transition-duration: 2s;
		display: block;
		max-width: 220px;
		height: 60px;
		color: white;
		text-decoration: none;
		font-family: "Osl";
		font-weight: normal;
		text-transform: uppercase;
		font-size: 35px;
		background-image: url(../images/box-text.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		padding: 2px 25px 2px 25px;
		margin-bottom: 10px;
		margin-left: 30px;
	}	

	a#link2{
		transition-duration: 2s;
		display: block;
		width: 180px;
		height: 65px;
		color: white;
		text-decoration: none;
		font-family: "Osl";
		font-weight: normal;
		text-transform: uppercase;
		font-size: 40px;
		background-image: url(../images/box-text.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		padding: 2px 23px 2px 23px;
		margin-bottom: 10px;
		margin-left: 22px;
	}

	a#link3{
		transition-duration: 2s;
		display: block;
		width: 145px;
		height: 65px;
		color: white;
		text-decoration: none;
		font-family: "Osl";
		font-weight: normal;
		text-transform: uppercase;
		font-size: 40px;
		background-image: url(../images/box-text.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		padding: 2px 23px 2px 23px;
		margin-bottom: 12px;
		margin-left: 15px;
	}

	a#link4{
		transition-duration: 2s;
		display: block;
		width: 230px;
		height: 25px;
		color: black;
		text-decoration: none;
		font-family: "Osr";
		font-weight: normal;
		text-transform: uppercase;
		font-size: 12px;
		background-image: url(../images/box-white-text.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		padding: 4px 15px 4px 18px;
		margin-left: 5px;
		margin-top: 140px;
	}
}

/***VEICULOS-DESTAQUE***/

section.veiculos-destaque{
	width: 100%;
	padding: 90px 2%;
}

.line{
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	position: relative;
	text-align: center;
}

.ln{
	position: absolute;
	height: 2px;
	width: 100%;
	background: black;
	margin-top: 20px;
}

section.veiculos-destaque > .line h2{
	position: relative;
	background: white;
	padding-left: 17px;
	padding-right: 25px;
	display: inline-block;
	font-size: 28px;
	font-weight: normal;
	text-align: center;
	font-style: italic;
	text-transform: uppercase;
}

section.veiculos-destaque .centralizer{
	max-width: 960px;
}

.vitrine{
	width: 100%;
	text-align: center;
}

.vitrine .items{
	width: calc(100% / 3);
	float: left;
}

.items img{
	width: 277px;
	height: 213px;
	margin-top: 60px;
	margin-bottom: 5px;
}

.vitrine .info{
	text-align: left;
	margin-top: 5px;
	font-family: "Osr";
	font-weight: normal;
}

.vitrine .info h2{
	font-size: 20px;
	margin-left: 23px;
}

.vitrine .info p{
	font-size: 16px;
	color: #5B5B5B;
	margin-left: 25px;
	margin-bottom: 20px;
}

a#vi4{
	border: 0;
	border-top: 1px solid #ff8181;
	border-bottom: 1px solid #b21e1e;
	background: red;
	padding: 5px 12px 7px 12px;
	margin-left: 27px;
	font-size: 19px;
	text-decoration: none;
	color: white;
	font-family: "Osl";
	font-weight: normal;
}

@media screen and (max-width: 1000px){

	.vitrine .items{
		width: calc(100% / 2);
		float: left;
	}

	#last-it{
		display: block;
		width: 100%;
	}

	.vitrine .info{
		text-align: center;
		margin-top: 5px;
		font-family: "Osr";
		font-weight: normal;
	}

	.vitrine .info h2{
		font-size: 20px;
		margin-left: 0;
	}

	.vitrine .info p{
		font-size: 16px;
		margin-left: 0;
		margin-bottom: 20px;
	}

	a#vi4{
		padding: 5px 12px 7px 12px;
		margin-left: 0px;
		font-size: 19px;
	}
}

@media screen and (max-width: 630px){

	.vitrine .items{
		width: 100%;
		float: none;
		display: block;
	}

}

@media screen and (max-width: 304px){
	section.veiculos-destaque > .line h2{
	position: relative;
	background: white;
	max-width: 190px;
	padding-left: 1px;
	padding-right: 3px;
	display: inline-block;
	font-size: 28px;
	font-weight: normal;
	text-align: center;
	font-style: italic;
	text-transform: uppercase;
}
}

@media screen and (max-width: 292px){

	.items img{
		width: 100%;
		max-width: 275px;
		display: block;
	}

}

/***SERVIÇOS-DEPOIMENTOS***/

section.servicos-depoimentos{
	width: 100%;
}

section.servicos-depoimentos .black-left{
	width: 50%;
	height: 395px;
	float: left;
	background: black;
	color: white;
	padding: 60px 2%;
}

.black-content{
	width: 100%;
	max-width: 600px;
	float: right;
}

.black-content h2{
	padding-top: 10px;
	font-size: 34px;
	font-weight: normal;
	text-transform: uppercase;
	font-style: italic;
	font-family: "Osl";
}

.black-content ul{
	padding-top: 15px;
	font-weight: normal;
	display: inline-block;
}

.black-content ul li{
	margin-left: 50px;
	font-size: 22px;
	font-weight: normal;
}

.black-content a#ser{
	width: 94px;
	height: 40px;
	font-size: 19px;
	text-decoration: none;
	vertical-align: bottom;
	margin-bottom: 3px;
	margin-left: 50px;
	display: inline-block;
	border: 0;
	color: white;
	border-top: 1px solid #ff8181;
	border-bottom: 1px solid #b21e1e;
	background-color: red;
	padding: 4px 11px 2px 11px;
	font-family: "Osl";
	font-weight: normal;
}

section.servicos-depoimentos .red{
	width: 50%;
	height: 395px;
	float: left;
	background: red;
	color: white;
	padding: 60px 2%;
}

.red-content{
	float: right;
	width: 100%;
	max-width: 650px;
	padding: 0 2%;
}

.red-content h2{
	padding-top: 10px;
	font-size: 34px;
	font-weight: normal;
	text-transform: uppercase;
	font-style: italic;
	font-family: "Osl";
}

.red-content quote{
	margin-left: 20px;
	display: block;
	font-size: 22px;
	color: white;
	font-style: italic;
	width: 100%;
	max-width: 500px;
}

.red-content img{
	display: inline-block;
	margin-top: 40px;
	margin-left: 22px;
	margin-right: 10px;
	cursor: pointer;
}

.red-content h3{
	font-size: 24px;
	margin-top: -35px;
	margin-left: 280px;
	font-weight: normal;
	font-style: italic;
	font-family: "Osr";
	color: black;
}

@media screen and (max-width: 1257px){

	.red-content h3{
		transition: 1s;
		margin-left: 200px;
	}
}

@media screen and (max-width: 1075px){

	.red-content h3{
		transition: 1s;
		margin-left: 150px;
	}
}

@media screen and (max-width: 963px){

	.red-content h3{
		transition: 1s;
		margin-left: 250px;
	}
}

@media screen and (max-width: 894px){

	.red-content h3{
		transition: 1s;
		margin-left: 200px;
	}
}

@media screen and (max-width: 1000px){

	.black-content ul{
		padding-top: 15px;
		font-weight: normal;
		display: block;
	}

	.black-content a#ser{
		margin-top: 10px;
		margin-left: 26px;
	}
}

@media screen and (max-width: 812px){

	section.servicos-depoimentos .black-left{
		width: 100%;
		float: none;
		height: 100%;
		background: black;
		color: white;
		padding: 60px 2%;
	}

	.black-content{
		width: 100%;
		max-width: 600px;
		float: none;
		display: inline-block;
	}

	section.servicos-depoimentos .red{
		width: 100%;
		height: 100%;
		float: none;
		background: red;
		color: white;
		padding: 60px 2%;
	}

	.red-content{
		float: none;
	}


	.black-content ul{
		padding-top: 15px;
		font-weight: normal;
		display: inline-block;
	}

	.black-content a#ser{
		margin-bottom: 4px;
		margin-left: 50px;
	}
}

@media screen and (max-width: 529px){

	.red-content > quote{
		padding-right: 1%;
	}

	.red-content quote{
		margin-left: 18px;
		display: block;
		font-size: 22px;
		color: white;
		font-style: italic;
		width: 100%;
		max-width: 400px;
	}
}

@media screen and (max-width: 490px){

	.black-content ul{
		padding-top: 15px;
		font-weight: normal;
		display: block;
	}

	.black-content a#ser{
		margin-top: 10px;
		margin-left: 26px;
	}
}

@media screen and (max-width: 440px){

	.red-content quote{
		margin-left: 0;
		display: block;
		font-size: 22px;
		color: white;
		font-style: italic;
		width: 100%;
		max-width: 400px;
	}
}

@media screen and (max-width: 375px){

	.red-content h3{
		margin-top: -35px;
		margin-left: 92px;
	}
}

@media screen and (max-width: 330px){

	.black-content ul{
		width: 100%;
		padding-top: 15px;
		font-weight: normal;
		display: inline-block;
	}

	.black-content ul li{
		margin-left: 0px;
		font-size: 22px;
		list-style-position: inside;
		font-weight: normal;
	}
}

@media screen and (max-width: 300px){

	.black-content ul li{
		font-size: 20px;
	}
}

@media screen and (max-width: 289px){

	.red-content img{
		display: inline-block;
		margin-top: 40px;
		margin-left: 9px;
		margin-right: 15px;
	}
}

@media screen and (max-width: 289px){

	.red-content h3{
		margin-left: 72px;
	}
}

/***CONTATO***/

section.contato{
	width: 100%;
	padding: 90px 2%;
}

.linew{
	width: 100%;
	max-width: 650px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}

.lineh{
	background: black;
	height: 2px;
	width: 100%;
	position: absolute;
	margin-top: 20px;
}

#line-title h2{
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: normal;
	font-family: "Osr";
	font-style: italic;
	position: relative;
	padding-left: 14px;
	padding-right: 20px;
	background:	white;
}


form.cf{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	margin-top: 30px;
}

.form-spacing-w{
	padding-top: 10px;
	padding-right: 10px;
}

.form-spacing-h{
	padding-top: 10px;
}

.fw100{
	width: 100%;
}

.fw50{
	width: 50%;
	float: left;
}

form.cf input::placeholder{
	color: #dedede;
	font-style: italic;
}

form.cf textarea::placeholder{
	color: #dedede;
	font-style: italic;
}

form.cf input[type="text"]{
	width: 100%;
	outline: none;
	border: 0;
	border: 1px solid #dedede;
	font-size: 24px;
	padding: 10px 10px;
	font-weight: normal;
}

form.cf input[type="email"]{
	width: 100%;
	outline: none;
	border: 0;
	border: 1px solid #dedede;
	font-size: 24px;
	padding: 10px 10px;
	font-weight: normal;
}

form.cf textarea{
	width: 100%;
	height: 120px;
	resize: none;
	outline: none;
	padding: 5px 10px;
	border: 0;
	border: 1px solid #dedede;
	font-size: 24px;
	font-weight: normal;
}

form.cf .submit{
	text-align: center;
}

form.cf input[type="submit"]{
	width: 100%;
	max-width: 80px;
	background: red;
	outline: none;
	height: 40px;
	font-size: 19px;
	border: 0;
	color: white;
	border-top: 1px solid #ff8181;
	border-bottom: 1px solid #b21e1e;
	padding: 2px 8px 4px 5px;
	font-family: "Osl";
	font-weight: normal;
	font-style: italic;
	text-transform: uppercase;
	margin-top: 20px;
	cursor: pointer;
}

/*********!**********PAGINA_DE_VENDAS***********!*********/

section.veiculos-venda{
	width: 100%;
	padding: 60px 2%;
}

section.veiculos-venda .centralizer{
	max-width: 1255px;
}

.vlinew{
	width: 100%;
	max-width: 1380px;
	text-align: center;
	margin: 0 auto;
	position: relative;
}

.vlineh{
	background: black;
	height: 2px;
	width: 100%;
	position: absolute;
	margin-top: 20px;
}

.veiculos-venda .vlinew h2{
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: normal;
	font-family: "Osr";
	font-style: italic;
	position: relative;
	padding-left: 14px;
	padding-right: 20px;
	background:	white;
}

.sidebar{
	margin-top: 40px; 
	float: left;
	width: 30%;
	display: block;
}

.search{
	width: 100%;
	max-width: 300px;
}

.sidebar h2{
	font-size: 24px;
	font-weight: normal;
	font-family: "Osr";
	font-style: italic;
}

.search p{
	margin-top: 5px;
	display: inline-block;
}

#final{
	float: right;
}

.barra{
	cursor: pointer;
	width: 100%;
	max-width: 300px;
	height: 20px;
	margin-top: 10px;
	background: white;
	border-radius: 10px;
	border: 1px solid #dedede;
	position: relative;
}

.fill{
	width: 0px;
	height: 18px;
	background: linear-gradient( to bottom,rgb(255,255,255),rgb(200,200,200));
	border-radius: 12px;
	
}

.pointer{
	width: 100%;
	max-width: 20px;
	height: 24px;
	position: absolute;
	top: -3px;
	left: 0px;
	border-radius: 4px;
	background: linear-gradient( to bottom,rgb(255,255,255),rgb(180,180,180));
	border: 1px solid #999;
	outline: none;
	cursor: pointer;
}

.ano{
	margin-top: 60px;
}

.ano form{
	margin-top: 10px;
}

.ano form input[type="checkbox"]{
	display: none;
}

.ano label{
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 2px;
	cursor: pointer;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 3px;
	display: inline-block;
	position: relative;
	vertical-align: bottom;
}

.ano .circle{
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: black;
	position: absolute;
	top: 5px;
	left: 5px;
	display: none;
}

.ano .checkpack input[type="checkbox"]:checked + label > .circle{
	display: block;
}

.ano form .checkpack{
	font-family: "Osl";
	font-style: italic;
	font-weight: bold;
	font-size: 19px;
}

.veiculos-vitrine{
	margin-top: 60px;
	width: 70%;
	float: right;
}

.veiculos-vitrine .items-venda{
	width: calc(100% / 3);
	float: left;
}

.items-venda img{
	width: 100%;
	max-width: 257px;
	height: 203px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.veiculos-vitrine .info-v{
	text-align: left;
	margin-top: 5px;
	margin-left: -10px;
	font-family: "Osr";
	font-weight: normal;
}

.veiculos-vitrine .info-v h2{
	font-size: 22px;
	margin-left: 10px;
}

.veiculos-vitrine .info-v p{
	font-size: 16px;
	color: #5B5B5B;
	margin-left: 13px;
	margin-bottom: 20px;
}

a#viv4{
	border: 0;
	border-top: 1px solid #ff8181;
	border-bottom: 1px solid #b21e1e;
	background: red;
	padding: 5px 12px 7px 12px;
	margin-left: 13px;
	font-size: 19px;
	text-decoration: none;
	color: white;
	font-family: "Osl";
	font-weight: normal;
	margin-bottom: 60px;
	max-width: 115px;
	display: block;
}

@media screen and (max-width: 1250px){

	.sidebar{
		height: 1410px;
	}

	.veiculos-vitrine .items-venda{
		width: calc(100% / 2);
		float: left;
	}

	.items-venda img{
		max-width: 257px;
		margin-left: 100px;
	}

	.veiculos-vitrine .info-v{
		text-align: left;
		margin-left: 90px;
	}
}

@media screen and (max-width: 1130px){

	.items-venda img{
		transition: 1s;
		margin-left: 50px;
	}

	.veiculos-vitrine .info-v{
		transition: 1s;
		margin-left: 40px;
	}
}

@media screen and (max-width: 960px){

	.items-venda img{
		transition: 1s;
		margin-left: 20px;
	}

	.veiculos-vitrine .info-v{
		transition: 1s;
		margin-left: 10px;
	}
}

@media screen and (max-width: 850px){

	.sidebar{
		height: 100%;
		float: none;
		width: 100%;
		margin-top: 60px;
		text-align: left;
	}

	.veiculos-vitrine{
		width: 100%;
		float: none;
	}

	.veiculos-vitrine .items-venda{
		width: calc(100% / 2);
		text-align: center;
		padding-left: 4%;
		padding-right: 7%;
	}

	.veiculos-vitrine .info-v{
		width: 100%;
		max-width: 257px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 660px){

	.veiculos-vitrine .items-venda{
		width: 100%;
		padding-left: 3%;
		padding-right: 6%;
		text-align: center;
	}

	.veiculos-vitrine .info-v{
		text-align: center;
	}

	a#viv4{
		margin: 0 auto;
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 340px){

	section.veiculos-venda{
		width: 100%;
		padding: 60px 0;
		padding-right: 2%;
	}

	.items-venda img{
		width: 100%;
		transition: 1s;
		margin-left: 10px;
	}

	.sidebar{
		padding: 0 2%;
	}
}

/*********!**********VEICULO-PGS***********!*********/

section.vendas-single{
	padding-top: 90px;
}

#wvk{
	max-width: 1400px;
}

section.vendas-single .centralizer{
	padding: 40px 2%;
	max-width: 1200px;
}

.info-bread{
	width: 100%;
	padding: 0px 0px 60px 0px;
	/*background: green;*/
}

.info-bread a{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 25px;
	color: black;
}

.info-bread a:hover{
	color: red;
}

.info-bread span{
	font-size: 35px;
	color: black;
	font-family: "Osl";
}

.img-destaque{
	float: left;
	width: 550px;
	height: 423px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.descricao-veiculo{
	float: left;
	width: 50%;
	max-width: 310px;
	padding-left: 50px;
}

.descricao-veiculo h2{
	font-style: normal;
}

.descricao-veiculo p{
	margin-bottom: 10px;
}

.descricao-veiculo a.btn{
	border: 0;
	border-top: 1px solid #ff8181;
	border-bottom: 1px solid #b21e1e;
	background: red;
	padding: 5px 12px 7px 12px;
	font-size: 19px;
	text-decoration: none;
	color: white;
	font-family: "Osl";
	font-weight: normal;
}

.nav-galeria-sings{
	width: 100%;
	max-width: 550px;
	position: relative;
	text-align: center;
}

.nav-galeria{
	width: 100%;
	max-width: 490px;
	margin-top: 30px;
	display: inline-block;
	overflow-x: hidden;
}

.arrow-g-left{
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	max-width: 20px;
	height: 25px;
	cursor: pointer;
	transform: translateY(-5%);
	-ms-transform: translateY(-5%);
	background-image: url(../images/arrow-left.png);
	background-size: 100% 100%;
}

.arrow-g-right{
	position: absolute;
	top: 50%;
	right: 0px;
	width: 100%;
	max-width: 20px;
	height: 25px;
	cursor: pointer;
	transform: translateY(-5%);
	-ms-transform: translateY(-5%);
	background-image: url(../images/arrow-right.png);
	background-size: 100% 100%;
}

.nav-pack{
	width: 200%;
}

.mini-img{
	float: left;
	width: calc(100% / 6);
	padding-top: 10%;
	border: 6px solid white;
	background-size: cover;
	cursor: pointer;
	background-position: center;
}

.mini-img:hover{
	border-color: red;
}

section.contatov{
	width: 100%;
	padding: 90px 2% 0 2%;
}

@media screen and (max-width: 913px){

	.img-destaque{
		float: none;
		width: 100%;
		max-width: 550px;
		margin: 0 auto;
	}

	.descricao-veiculo{
		float: none;
		width: 100%;
		margin: 0 auto;
		text-align: center;	
		max-width: 310px;
		margin-top: 10px;
		padding-left: 0px;
	}

	.nav-galeria-sings{
		margin: 0 auto;
		margin-top: 10px;
	}
}

@media screen and (max-width: 575px){

	.img-destaque{
		transition: 2s;
		width: 100%;
		height: 323px;
		max-width: 450px;
	}

	
	.arrow-g-left{
		transition: 0.1s;
		top: 102%;
		left: 0px;
	}

	.arrow-g-right{
		transition: 0.1s;
		top: 102%;
		right: 0px;
	}
}

@media screen and (max-width: 545px){

	.arrow-g-left{
		transition: 1s;
		left: 6px;
	}

	.arrow-g-right{
		transition: 1s;
		right: 6px;
	}
}

@media screen and (max-width: 471px){

	.img-destaque{
		transition: 2s;
		width: 100%;
		height: 253px;
		max-width: 350px;
	}

	.descricao-veiculo{
		width: 100%;
		max-width: 210px;
		text-align: center;
	}

	.nav-pack{
		width: 300%;
	}
}

@media screen and (max-width: 367px){

	.img-destaque{
		transition: 2s;
		width: 100%;
		height: 175px;
		max-width: 250px;
	}
}

/*********!**********GALERIA***********!*********/

section.pictures{
	width: 100%;
	padding: 60px 2%;
	/*background: green;*/
}

.liw{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.lih{
	width: 100%;
	height: 2px;
	background-color: black;
	position: absolute;
	margin-top: 20px;
}

.liw h2{
	display: inline-block;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: normal;
	font-family: "Osr";
	font-style: italic;
	position: relative;
	padding-left: 14px;
	padding-right: 20px;
	background:	white;
}

section.pictures .centralizer{
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
}

.mosaic{
	max-width: 1250px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}

.background-gray{
	width: 100%;
	max-width: 1250px;
	height: 730px;
	background-color: gray;
	background-size: cover;
	position: relative;
	display: inline-block;
	padding: 15px 15px 15px 15px;
}

.background-gray:hover{
	background-color: red;
}

.background-gray .img-galeria{
	width: 100%;
	margin: 0 auto;
	height: 700px;
	background-image: url(../images/carro_galeria.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.red-box{
	width: 100%;
	max-width: 160px;
	height: 55px;
	background-color: red;
	position: absolute;
	top: 80%;
	right: 0;
}

.red-box h2{
	font-family: "Osl";
	font-size: 22px;
	color: white;
	margin: 10px 15px 25px 10px;
	font-style: italic;
	font-weight: normal;
}

.pic{
	width: calc(100% / 4);
	display: inline-block; 
}

.pic .imgs{
	margin: 0 auto;
	width: 100%;
	max-width: 290px;
	height: 180px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-bottom: 20px;
	border:10px solid gray;
}

.pic .imgs:hover{
	border-color: red;
}

@media screen and (max-width: 1290px){

	.pic{
		width: calc(100% / 3);
	}
}

@media screen and (max-width: 1125px){

	.background-gray{
		width: 100%;
		max-width: 930px;
		height: 630px;
		background-color: gray;
		background-size: cover;
		position: relative;
		display: inline-block;
		padding: 15px 15px 15px 15px;
	}

	.background-gray .img-galeria{
		width: 100%;
		max-width: 900px;
		margin: 0 auto;
		height: 600px;
		background-size: cover;
	}
}

@media screen and (max-width: 970px){

	.background-gray{
		width: 100%;
		max-width: 830px;
		height: 530px;
		background-color: gray;
		background-size: cover;
		position: relative;
		display: inline-block;
		padding: 15px 15px 15px 15px;
	}

	.background-gray .img-galeria{
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		height: 500px;
		background-size: cover;
	}
}

@media screen and (max-width: 950px){

	.pic{
		width: calc(100% / 2);
	}
}

@media screen and (max-width: 815px){

	.background-gray{
		width: 100%;
		max-width: 730px;
		height: 430px;
		background-color: gray;
		background-size: cover;
		position: relative;
		display: inline-block;
		padding: 15px 15px 15px 15px;
	}

	.background-gray .img-galeria{
		width: 100%;
		max-width: 700px;
		margin: 0 auto;
		height: 400px;
		background-size: cover;
	}
}

@media screen and (max-width: 664px){

	.background-gray{
		width: 100%;
		max-width: 660px;
		height: 390px;
		background-color: gray;
		background-size: cover;
		position: relative;
		display: inline-block;
		padding: 15px 15px 15px 15px;
	}

	.background-gray .img-galeria{
		width: 100%;
		max-width: 630px;
		margin: 0 auto;
		height: 360px;
		background-size: cover;
	}
}

@media screen and (max-width: 640px){

	.pic{
		width: 100%;
	}
}

@media screen and (max-width: 600px){

	.background-gray{
		width: 100%;
		max-width: 630px;
		height: 360px;
		background-color: gray;
		background-size: cover;
		position: relative;
		display: inline-block;
		padding: 15px 15px 15px 15px;
	}

	.background-gray .img-galeria{
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		height: 330px;
		background-size: cover;
	}
}

@media screen and (max-width: 555px){

	.background-gray{
		width: 100%;
		max-width: 600px;
		height: 330px;
		background-color: gray;
		background-size: cover;
		position: relative;
		display: inline-block;
		padding: 15px 15px 15px 15px;
	}

	.background-gray .img-galeria{
		width: 100%;
		max-width: 570px;
		margin: 0 auto;
		height: 300px;
		background-size: cover;
	}

	.red-box{
		transition: 2s;
		width: 100%;
		max-width: 160px;
		height: 55px;
		background-color: red;
		position: absolute;
		top: 70%;
		right: 0;
	}
}

@media screen and (max-width: 555px){

	.background-gray{
		width: 100%;
		max-width: 560px;
		height: 320px;
		background-color: gray;
		background-size: cover;
		position: relative;
		display: inline-block;
		padding: 15px 15px 15px 15px;
	}

	.background-gray .img-galeria{
		width: 100%;
		max-width: 530px;
		margin: 0 auto;
		height: 290px;
		background-size: cover;
	}
}

@media screen and (max-width: 475px){

	.background-gray{
		width: 100%;
		max-width: 530px;
		height: 290px;
		background-color: gray;
		background-size: cover;
		position: relative;
		display: inline-block;
		padding: 15px 15px 15px 15px;
	}

	.background-gray .img-galeria{
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
		height: 260px;
		background-size: cover;
	}
}

@media screen and (max-width: 428px){

	.background-gray{
		width: 100%;
		max-width: 500px;
		height: 260px;
		background-color: gray;
		background-size: cover;
		position: relative;
		display: inline-block;
		padding: 15px 15px 15px 15px;
	}

	.background-gray .img-galeria{
		width: 100%;
		max-width: 470px;
		margin: 0 auto;
		height: 230px;
		background-size: cover;
	}
}

@media screen and (max-width: 384px){

	.background-gray{
		width: 100%;
		max-width: 490px;
		height: 230px;
		background-color: gray;
		background-size: cover;
		position: relative;
		display: inline-block;
		padding: 15px 15px 15px 15px;
	}

	.background-gray .img-galeria{
		width: 100%;
		max-width: 460px;
		margin: 0 auto;
		height: 200px;
		background-size: cover;
	}

	.red-box{
		transition: 1s;
		width: 100%;
		max-width: 150px;
		height: 50px;
		background-color: red;
		position: absolute;
		top: 65%;
		right: 0;
	}

	.red-box h2{
		font-size: 22px;
		margin: 8px 15px 35px 10px;
	}
}

@media screen and (max-width: 338px){

	.background-gray{
		width: 100%;
		max-width: 460px;
		height: 200px;
		background-color: gray;
		background-size: cover;
		position: relative;
		display: inline-block;
		padding: 15px 15px 15px 15px;
	}

	.background-gray .img-galeria{
		width: 100%;
		max-width: 430px;
		margin: 0 auto;
		height: 170px;
		background-size: cover;
	}

	.red-box{
		transition: 1s;
		width: 100%;
		max-width: 130px;
		height: 40px;
		background-color: red;
		position: absolute;
		top: 65%;
		right: 0;
	}

	.red-box h2{
		font-size: 18px;
		margin: 8px 15px 35px 10px;
	}
}

@media screen and (max-width: 290px){

	.background-gray{
		width: 100%;
		max-width: 430px;
		height: 190px;
		background-color: gray;
		background-size: cover;
		position: relative;
		display: inline-block;
		padding: 15px 15px 15px 15px;
	}

	.background-gray .img-galeria{
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
		height: 160px;
		background-size: cover;
	}

	.red-box{
		transition: 1s;
		width: 100%;
		max-width: 130px;
		height: 40px;
		background-color: red;
		position: absolute;
		top: 65%;
		right: 0;
	}

	.red-box h2{
		font-size: 18px;
		margin: 8px 15px 35px 10px;
	}
}

/*********!**********EVENTOS***********!*********/

section.eventos{
	width: 100%;
	padding: 60px 2%;
}

section.eventos .centralizer{
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	margin-top: 60px;
}

.sidebar-ev{
	width: 25%;
	float: left;
	/*background-color: red;*/
}

.sidebar-ev h2{
	font-style: italic;
	font-family: "Osl";
	font-size: 25px;
	margin-top: -5px;
	margin-bottom: 10px;
}

.sdev-content form{
	width: 100%;
}

.sidebar-ev input[type=checkbox]{
	display: none;
}

.boxes label{
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 2px;
	cursor: pointer;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 3px;
	display: inline-block;
	position: relative;
	vertical-align: bottom;
}

.boxes .circlee{
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: black;
	position: absolute;
	top: 5px;
	left: 5px;
	display: none;
}

.boxes span{
	display: inline-block;
	font-family: "Osl";
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
}

.boxes input[type=checkbox]:checked + label > .circlee{
	display: block;
}

.events-area{
	width: 75%;
	float: left;
	padding: 0 1%;
	text-align: center;
	/*background-color: blue;*/
}

.control{
	width: 100%;
	margin-top: 10px;
}

.event-single{
	width: calc(100% / 3);
	float: left;
	margin-bottom: 10px;
	/*background-color: red;*/
}

.event-single img{
	width: 100%;
	max-width: 250px;
	height: 140px;
	text-align: center;
}

.info-ev{
	width: 100%;
	max-width: 250px;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 60px;
	font-style: italic;
}

.info-ev h2{
	font-size: 22px;
	font-family: "Osl";
}

.info-ev p{
	font-size: 17px;
	font-family: "Osr";
}

.info-ev h3{
	color: red;
	font-size: 19px;
	font-family: "Osr";
}

.info-ev a{
	border: 0;
	border-top: 1px solid #ff8181;
	border-bottom: 1px solid #b21e1e;
	background: red;
	padding: 5px 12px 7px 12px;
	margin-top: 25px;
	font-size: 20px;
	text-decoration: none;
	color: white;
	font-style: italic;
	font-family: "Osl";
	font-weight: normal;
	max-width: 122px;
	display: block;
}

@media screen and (max-width: 1164px){

	.event-single{
		width: calc(100% / 2);
		float: left;
		margin: 0 auto;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 780px){

	.sidebar-ev{
		width: 100%;
		float: none;
	}

	.events-area{
		width: 100%;
		float: none;
		margin-top: 60px;
	}
}

@media screen and (max-width: 590px){

	.event-single{
		width: 100%;
		display: inline-block;
		float: none;
		margin-bottom: 10px;
	}

	.info-ev{
		width: 100%;
		max-width: 250px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 60px;
		font-style: italic;
	}

	.info-ev a{
		text-align: left;
		margin: 0 auto;
		border: 0;
		border-top: 1px solid #ff8181;
		border-bottom: 1px solid #b21e1e;
		background: red;
		padding: 5px 12px 7px 12px;
		margin-top: 25px;
		font-size: 20px;
		text-decoration: none;
		color: white;
		font-style: italic;
		font-family: "Osl";
		font-weight: normal;
		max-width: 122px;
		display: block;
	}
}

/*********!**********EVENTOSPGS***********!*********/

section.eventos_pg1{
	width: 100%;
	padding: 60px 2%;
}

section.eventos_pg1 .centralizer{
	width: 100%;
	max-width: 800px;
	margin-top: 60px;
	/*background-color: red;*/
}

.ev-c-s img{
	width: 100%;
	height: 500px;
}

.ev-c-s h2{
	font-family: "Osr";
	font-size: 26px;
	font-style: italic;
	margin: 30px 0;
}

.ev-c-s h1{
	font-family: "Osl";
	font-size: 25px;
	margin: 30px 0;
	display: inline-block;
}

.ev-c-s p{
	text-align: left;
	font-family: "Osr";
	font-size: 18px;
}

.ev-c-s span{
	font-family: "Osl";
	color: red;
}

.ev-c-s a{
	width: 125px;
	margin-bottom: 200px;
	display: block;
	color: black;
	text-decoration-color: #CECECE;
}

/*********!**********SOBRE***********!*********/

section.sobre{
	width: 100%;
	padding: 60px 2%;
}

section.sobre .centralizer{
	max-width: 800px;
	margin: 0 auto;
}

.pack-sobre img{
	margin-top: 60px;
	width: 100%;
	height: 500px;
}

.pack-sobre h2{
	font-family: "Osl";
	font-size: 26px;
	font-style: italic;
	margin: 30px 0;
}

.pack-sobre p{
	margin-bottom: 30px;
}

.s-p{
	width: 100%;
	margin-bottom: 30px;
	display: inline-block;
}

.s-p img{
	float: left;
	width: 100%;
	max-width: 250px;
	height: 350px;
	margin-right: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.sobre-au{
	width: 100%;
	padding: 40px 10px 20px 0px;
}

.sobre-au p{
	word-break: break-all;
}

@media screen and (max-width: 380px){

	.s-p img{
		float: none;
		width: 100%;
		max-width: 250px;
		height: 350px;
		margin: 0 auto;
		display: block;
	}

	.sobre-au{
		width: 100%;
		padding: 5px 0px 0px 0px;
	}
}

/***FOOTER***/

footer{
	width: 100%;
	padding: 30px 2%;
	background-color: black;
}

footer nav{
	float: left;
	margin-top: 10px;
}

footer nav ul li{
	display: inline-block;
}

footer nav ul li a{
	text-decoration: none;
	font-size: 23px;
	color: white;
	font-style: italic;
	font-family: "Osr";
	text-transform: uppercase;
	margin-right: 20px;
}

footer nav ul li a:hover{
	color: red;
}

footer p{
	margin-top: 10px;
	float: right;
	color: white;
	font-family: "Osl";
}

footer p a{
	color: white;
	text-decoration: none;
	font-family: "Osr";
	font-style: italic;
	font-size: 17px;
}

@media screen and (max-width: 927px){

	footer nav{
		float: none;
		margin: 0 auto;
		text-align: center;
	}

	footer p{
		margin-top: 50px;
		text-align: center;
		float: none;
	}

	footer nav ul li a{
		text-decoration: none;
		font-size: 23px;
		color: white;
		font-style: italic;
		font-family: "Osr";
		text-transform: uppercase;
		margin-right: 10px;
	}
}